*{ 
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
header{
    display: flex;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  
}
.header ul{
    display: flex;
    list-style: none;
}
.header ul li{
    padding: 0px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.header ul a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1336px;
    margin: auto;
}

.contato {
    display: flex;
    flex-direction: column;
    padding: 120px 0px 40px 0px;
    max-width: 450px;
    width: 100%;
}
.formulario{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin: 0px 0px 40px;
    color: #FF4081;
}
.nome-email input{
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    width: 100%;
}
.nome-email{
    
    height: 25px;
    margin-top: 15px;
    display: flex;
}
.mensagem textarea{

    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    max-width: 450px;
    width: 100%;
    margin-top: 15px;
    height: 200px;

   
}
button{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;   
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 50px;
    border: 1px solid #FF4081;
    margin-top: 20px;
    width: 130px;
    height: 35px;
}
button a{
    text-decoration: none;
    color: #FFFFFF;
}
.conteudo{
    display: flex;
    max-width: 1336px;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}
main{
 padding-left: 10px;
}
.img{
    position: relative;
    padding: 120px 0px 0px 40px;

}
.img img{
    height: 400px;
    width: 400px;
}
footer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 25px 110px 25px 108px;
     /*  acima - direita - abaixo - esquerda */
    background: #2E948A;
    flex-wrap: wrap-reverse;
}
footer {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
        
}

footer ol li a{
    text-decoration: none;
    color: #FFFFFF;
}
footer ol{
    list-style: none;    
}
footer ul{
    list-style: none;
    
}
footer button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    background-color: rgba(240, 248, 255, 0);  
    width: 189px;
    height: 31px;
    align-items: center;  
    position: relative;
    margin: 3px 0px 3px 0px;    
}
footer ul a{
    text-decoration: none;
    color: #FFFFFF;
}

/* responsividade */

@media (min-width: 578px)  and (max-width: 998px){
    .conteudo{
        justify-content: center;
    }

    .img{
        position: relative;
        padding: 160px 0px 0px 40px;       
}
    .img img {
        height: 350px;
        width: 350px;   
}
.header{
    justify-content: center;
}
}

@media (max-width: 375px) {
    

    .img{
        position: relative;
        padding: 0px 0px 0px 0px;       
}
    .img img {
        height: 200px;
        width: 200px;   
}
.header{
    justify-content: center;
}
.contato{
    padding: 20px 0px 40px 0px;
}
footer ol{
    font-size: 10px;
}
footer{
    padding: 25px 0px 25px 0px;
    justify-content: center;
}
}