*{ 
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
header{
    display: flex;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    
    
    
}
.header ul{
    display: flex;
    list-style: none;
}
.header ul li{
    padding: 0px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.header ul a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1336px;
    margin: auto;
}
section{
    display: flex;
    position: relative;
    flex-direction: column;
    background: #F7F7F7;
    margin: auto;
    width: 90%;
    justify-content: center;
    
}

.conteiner{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 80px 0px 40px 0px;
    /*  acima px - direita px - abaixo px - esquerda px */
    margin: auto;
    width: 60%;
    justify-content: center;
}
.conteiner .banner ul{
    list-style: none;
}
.conteiner .banner h1{
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 43px;
    color: #FF4081;
}
.conteiner .banner p{
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}
.conteiner .banner{
    padding: 0px 40px;
}
.conteiner2{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 0px 66px 0px;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
}
.conteiner2 .banner ul{
    list-style: none;
    padding: 10px 0px 20px 60px;
    width: 400px;
    height: 195px;
}
.conteiner2 .banner h3{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #FF4081; 
    height: 50px
}
.conteiner2 .banner p{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
    width: 100%;
    margin: auto;
    height: 100px
}
    .conteiner3{
        position: relative;
        display: flex;
        justify-content: center;
        padding: 50px 0px 66px 0px;
        margin: auto;
        width: 100%;
        flex-wrap: wrap;
       
    }
    .conteiner3 .banner ul{
        list-style: none;
        padding: 10px 0px 20px 60px;
        width: 400px;
        height: 195px;
    }
    .conteiner3 .banner h3{
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        color: #FF4081; 
        height: 50px
    }
    .conteiner3 .banner p{
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #000000;
        width: 100%;
        margin: auto;
        height: 100px
}
 
hr{
    display: flex;
    position: relative;
    height: 0px;
    width: 950px;
    background: #C4C4C4;
    margin: 9px 0px 73px 0px;
    margin: auto;
    width: 90%;
    

}
.conteiner4{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 0px 66px 0px;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    /*  acima - direita - abaixo - esquerda */
}
.conteiner4 .banner ul{
    list-style: none;
    padding: 10px 0px 40px 60px;
    width: 400px;
    height: 195px;
}
.conteiner4 .banner h3{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #FF4081; 
    height: 50px
}
.conteiner4 .banner p{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
    width: 100%;
    margin: auto;
    height: 100px
}
footer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 25px 110px 25px 108px;
     /*  acima - direita - abaixo - esquerda */
    background: #2E948A;
}
footer {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
        
}


footer ol li a{
    text-decoration: none;
    color: #FFFFFF;
}
footer ol{
    list-style: none;    
}
footer ul{
    list-style: none;
    
}
footer button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    background-color: rgba(240, 248, 255, 0);  
    width: 189px;
    height: 31px;
    align-items: center;  
    position: relative;
    margin: 3px 0px 3px 0px;    
}
footer ul a{
    text-decoration: none;
    color: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 425px){
    .header{
        justify-content: center;
    }
    .header ul li{
        font-size: 15px;
    }
    .header img{
        width: 200px;
 
    }
    .conteiner{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    .conteiner .img-banner img{
        width: 230px;
        height: 230px;
    }


    .conteiner2 .banner ul{
        padding: 10px 0px 20px 0px;
        width: 90%;
        height: 195px;
        margin: auto;
    }
    .conteiner3{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    .conteiner3 .banner ul{
        padding: 10px 0px 20px 0px;
        width: 90%;
        height: 195px;
        margin: auto;
    }
    .conteiner4 .banner ul{
        padding: 10px 0px 20px 0px;
        width: 90%;
        height: 195px;
        margin: auto;

    }
    footer ol{
        font-size: 10px;
    }
    footer{
        padding: 25px 0px 25px 0px;
        flex-direction: column;
    }
}

@media (min-width: 425px) and (max-width: 768px){

    .header ul li{
        font-size: 15px;
    }
    .header img{
        width: 200px;
 
    }
    .conteiner{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    
    }
    .conteiner2{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    
    .conteiner3{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
   
    footer ol{
        font-size: 10px;
    }
    footer{
        padding: 25px 0px 25px 0px;
        flex-direction: column;
    }
}