*{ 
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
header{
    display: flex;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);   
    
}
.header ul{
    display: flex;
    list-style: none;
}
.header ul li{
    padding: 0px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.header ul a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1336px;
    margin: auto;
}

.seção{
    position: relative;
    background: #F7F7F7;
}
.conteiner{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 100px 0px 50px 0px;
    /*  acima - direita - abaixo - esquerda */
    margin: auto;
    width: 80%;
}
.conteiner .banner ul{
    list-style: none;
    padding: 0px 40px 0px 0px;
}
.conteiner .banner h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #009688;
    width: 400px;
    height: 100px;
    margin-top: 60px;
}
.conteiner .banner p{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    width: 400px;
    height: 100px
}
.seçao1{
    display: flex;
    padding: 70px 0px 0px 0px;
    margin: auto;
    width: 80%;
    justify-content: center;
}
.seçao1 ul{
    list-style: none; 
    padding: 0px 30px;  
}
.seçao1 h3{
    color: #FF4081;
    padding-top: 10px;
    font-weight: 500;
}
.seçao1 p{
    width: 300px;
    font-weight: 300;
    font-size: 13px;

}

/* */
.seçao2{
    display: flex;
    padding: 70px 0px 0px 0px;
    margin: auto;
    width: 80%;
    justify-content: center;
}
.seçao2 ul{
    list-style: none; 
    padding: 0px 30px;  
}
.seçao2 h3{
    color: #FF4081;
    padding-top: 10px;
    font-weight: 500;
}
.seçao2 p{
    width: 300px;
    font-weight: 300;
    font-size: 13px;
}

/* */
.seçao3{
    display: flex;
    padding: 70px 0px 40px 0px;
    margin: auto;
    width: 80%;
    justify-content: center;
}
.seçao3 ul{
    list-style: none; 
    padding: 0px 30px;  
}
.seçao3 h3{
    color: #FF4081;
    padding-top: 10px;
    font-weight: 500;
}
.seçao3 p{
    width: 300px;
    font-weight: 300;
    font-size: 13px;
}
footer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 25px 110px 25px 108px;
     /*  acima - direita - abaixo - esquerda */
    background: #2E948A;
}
footer {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
        
}


footer ol li a{
    text-decoration: none;
    color: #FFFFFF;
}
footer ol{
    list-style: none;    
}
footer ul{
    list-style: none;
    
}
footer button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    background-color: rgba(240, 248, 255, 0);  
    width: 189px;
    height: 31px;
    align-items: center;  
    position: relative;
    margin: 3px 0px 3px 0px;    
}
footer ul a{
    text-decoration: none;
    color: #FFFFFF;
}



