*{ 
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
header{
    display: flex;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);  
    
}
.header ul{
    display: flex;
    list-style: none;
}
.header ul li{
    padding: 0px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.header ul a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1336px;
    margin: auto;
}
.conteiner0{
    
    position: relative;
    padding: 80px 0px 0px 0px;
    margin: auto;
    width: 90%;
    max-width: 1336px;
}
.conteiner0 h1{

    font-style: normal;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #FF4081;
}
.conteiner0 p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;

}
    .conteiner .banner h2{
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        color: #FF4081;
    }
    .conteiner{
        display: flex;
        position: relative;
        padding: 80px 0px 0px 0px;
        margin: auto;
        width: 80%;
        max-width: 1336px;
    }
    .conteiner .banner p{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
    
    
    }
    .conteiner .banner button{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        background: #419488;
        border-radius: 62px;
        border: 2px solid #419488;
        width: 173px;
        height: 31px;
    }
    .conteiner .banner button a{
       text-decoration: none;
       color: #FFFFFF;
    }
    .conteiner .banner ul{
        list-style: none;
    }
 .conteiner .banner{
        padding: 10px 50px 0px 40px;
 }
 .conteiner2 .banner h2{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FF4081;
}
.conteiner2{
    display: flex;
    position: relative;
    padding: 180px 0px 0px 0px;
    margin: auto;
    width: 80%;
}
.conteiner2 .banner p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    color: #000000;


}
.conteiner2 .banner button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #419488;
    border-radius: 62px;
    border: 2px solid #419488;
    width: 173px;
    height: 31px;
}
.conteiner2 .banner button a{
   text-decoration: none;
   color: #FFFFFF;
}
.conteiner2 .banner ul{
    list-style: none;
}
.conteiner2 .banner{
    padding: 10px 50px 0px 40px;
}
.conteiner3 .banner h2{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FF4081;
}
.conteiner3{
    display: flex;
    position: relative;
    padding: 180px 0px 60px 0px;
    margin: auto;
    width: 80%;
    max-width: 1336px;
}
.conteiner3 .banner p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    color: #000000;


}
.conteiner3 .banner button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #419488;
    border-radius: 62px;
    border: 2px solid #419488;
    width: 173px;
    height: 31px;
}
.conteiner3 .banner button a{
   text-decoration: none;
   color: #FFFFFF;
}
.conteiner3 .banner ul{
    list-style: none;
}
.conteiner3 .banner{
    padding: 20px 50px 0px 40px;
}

footer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 25px 110px 25px 108px;
     /*  acima - direita - abaixo - esquerda */
    background: #2E948A;
}
footer {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
        
}


footer ol li a{
    text-decoration: none;
    color: #FFFFFF;
}
footer ol{
    list-style: none;    
}
footer ul{
    list-style: none;
    
}
footer button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    background-color: rgba(240, 248, 255, 0);  
    width: 189px;
    height: 31px;
    align-items: center;  
    position: relative;
    margin: 3px 0px 3px 0px;    
}
footer ul a{
    text-decoration: none;
    color: #FFFFFF;
}
hr{
    position: relative;
    display: flex;
    width: 800px;
    height: 1px;
    top: 60px;
    background: #C4C4C4;
    margin: auto;
    width: 95%;
    max-width: 1336px;
    
}
@media (min-width: 320px) and (max-width: 425px){
    .header{
        justify-content: center;
    }
    .header ul li{
        font-size: 15px;
    }
    .header img{
        width: 200px;
 
    }
    .conteiner{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    .conteiner .banner button{
        justify-content: center;
        display: flex;
        margin: auto;
    }
    .conteiner2{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    .conteiner2 .banner button{
        justify-content: center;
        display: flex;
        margin: auto;
    }
    .conteiner3{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    .conteiner3 .banner button{
        justify-content: center;
        display: flex;
        margin: auto;
    }
    footer ol{
        font-size: 10px;
    }
    footer{
        padding: 25px 0px 25px 0px;
        flex-direction: column;
    }
}

@media (min-width: 425px) and (max-width: 768px){

    .header ul li{
        font-size: 15px;
    }
    .header img{
        width: 200px;
 
    }
    .conteiner{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    .conteiner .banner button{
        justify-content: center;
        display: flex;
        margin: auto;
    }
    .conteiner2{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    .conteiner2 .banner button{
        justify-content: center;
        display: flex;
        margin: auto;
    }
    .conteiner3{
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    .conteiner3 .banner button{
        justify-content: center;
        display: flex;
        margin: auto;
    }
    footer ol{
        font-size: 10px;
    }
    footer{
        padding: 25px 0px 25px 0px;
        flex-direction: column;
    }
}