*{ 
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
header{
    display: flex;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    
    
    
}
.header ul{
    display: flex;
    list-style: none;
}
.header ul li{
    padding: 0px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.header ul a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1336px;
    margin: auto;
}
.conteiner{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 135px 206px 26px 206px;
    /*  acima - direita - abaixo - esquerda */
    flex-wrap: wrap-reverse;
}
.conteiner img{
    width: 300px;
    height: 300px;
}
.conteiner .banner ul{
    list-style: none;
    padding: 0px 20px 155px 0px;
}
.conteiner .banner h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 39px;
    color: #FF4081;
}
.conteiner .banner p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #555555;
}
.conteiner .banner button{
    font-style: normal;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 200px;
    height: 31px;
    left: 207px;
    top: 377px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 11px;
    color: #FF4081;
    background-color: white;
}
.conteiner .banner a{
    text-decoration: none;
    color: #FF4081;
}
.conteiner2{
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 109px 128px 117px 128px;
    flex-wrap: wrap;
    /*  acima - direita - abaixo - esquerda */
    background: #F7F7F7;
}
.conteiner2 .coluna1 img{
    justify-content: center;
    padding: 0px 0px 45px 20px;
}
.conteiner2 .coluna1 h3{
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FF4081;
}
.conteiner2 .coluna1 p{
    justify-content: center;
    width: 260px;
    height: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    padding: 23px 0px 26px 0px;

}
.conteiner2 .coluna1 button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    background: #FF4081;
    border-radius: 62px;
    border: 0px solid #FF4081;
    width: 150px;
    height: 51px;
    margin: 0px 0px 0px 40px;
}
.conteiner2 .coluna2 img{
    justify-content: center;
    padding: 0px 0px 45px 20px;
    
}
.conteiner2 .coluna2 h3{
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FF4081;
    padding: 0px 0px 0px 35px;
}
.conteiner2 .coluna2 p{
    justify-content: center;
    width: 260px;
    height: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    padding: 23px 0px 26px 10px;

}
.conteiner2 .coluna2 button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    background: #FF4081;
    border-radius: 62px;
    border: 0px solid #FF4081;
    width: 150px;
    height: 51px;
    margin: 0px 0px 0px 60px;
}
.conteiner2 .coluna3 img{
    justify-content: center;
    padding: 0px 0px 45px 20px;

}
.conteiner2 .coluna3 h3{
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FF4081;
    padding: 0px 0px 0px 20px;
}
.conteiner2 .coluna3 p{
    justify-content: center;
    width: 260px;
    height: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    padding: 23px 0px 26px 10px;

}
.conteiner2 .coluna3 button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    background: #FF4081;
    border-radius: 62px;
    border: 0px solid #FF4081;
    width: 150px;
    height: 51px;
    margin: 0px 0px 0px 60px;
}
.conteiner2 button a{
    text-decoration: none;
    color: white;
}
.conteiner3 {
    display: flex;
    position: relative;
    padding: 119px 0px 100px 0px;
/*  acima - direita - abaixo - esquerda */
    margin: auto;
    width: 70%;
    max-width: 1336px;
    flex-wrap: wrap;  
}
.conteiner3 h2{
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;
    color: #009688;
    padding: 0px 0px 78px 0px;
}

.conteiner3 .sobre-nos{
    position: relative;
    display: flex;
    flex-wrap: wrap;  
    
}
.conteiner3 .sobre-nos ul p{
    width: 250px;
    height: 70.27px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    padding-top: 10px;
}
.conteiner3 .sobre-nos ul{
    display: flex;
    list-style: none;
    padding: 0px 5px 40px 0px;   
}
.conteiner3 .sobre-nos ul li{
    padding: 0px 5px;
}
.conteiner4 .mais-conteudo{
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 79px 0px 60px 0px;
    flex-wrap: wrap;
    /*  acima - direita - abaixo - esquerda */
}
.conteiner4 p{
    width: 259px;
    height: 114px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}
.conteiner4 h3{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #009688;
}
.conteiner4 h2{
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    color: #009688;
    padding-left: 20px;
}
.conteiner4{
    
    position: relative;
    padding: 91px 130px 43px 128px;
    /*  acima - direita - abaixo - esquerda */
    background: #F7F7F7;
}
.conteiner4 button{
    
    display: flex;
    font-style: normal;
    margin: auto;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    justify-content: center;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 229px;
    height: 51px;
    align-items: center;  
}
.conteiner4 a{
    text-decoration: none;
    color: #FF4081;
}
footer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 25px 110px 25px 108px;
     /*  acima - direita - abaixo - esquerda */
    background: #2E948A;
    flex-wrap: wrap-reverse;
}
footer {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
        
}


footer ol li a{
    text-decoration: none;
    color: #FFFFFF;
}
footer ol{
    list-style: none;    
}
footer ul{
    list-style: none;
    
}
footer button{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    background-color: rgba(240, 248, 255, 0);  
    width: 189px;
    height: 31px;
    align-items: center;  
    position: relative;
    margin: 3px 0px 3px 0px;    
}
footer ul a{
    text-decoration: none;
    color: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 405px){
    .header{
        justify-content: center;
    }
    .header ul li{
        font-size: 15px;
    }
    .header img{
        width: 200px;
 
    }
    .conteiner{
        padding: 35px 0px 26px 0px;
     
    }
    .conteiner .banner ul{
        padding: 0px 0px 35px 0px;
    }
    .conteiner .banner h1{
        font-size: 30px;
        line-height: 30px;
    }
    .conteiner .banner p{
        font-size: 15px;
        line-height: 16px;
    }
    .conteiner img{
        width: 200px;
        height: 200px;
        
    }
    .conteiner2{
        padding: 30px 0px 30px 0px;
    }
    .conteiner2 .coluna2 img{
        padding: 20px 0px 5px 20px;
    }
    .conteiner2 .coluna3 img{
        padding: 20px 0px 5px 20px;
    }
    .conteiner3{
        width: 100%;
        padding: 40px 0px 40px 0px;
    }
    .conteiner3 h2{
        font-size: 20px;
    }
    .conteiner4{
        padding: 43px 0px 43px 0px
    }
    .conteiner4 h2{
        justify-content: center;
        font-size: 17px;
    }
    .conteiner4 .mais-conteudo{
        padding: 19px 0px 60px 0px;
    }
    footer ol{
        font-size: 10px;
    }
    footer{
        padding: 25px 0px 25px 0px;
        flex-direction: column;
    }
}

@media (min-width: 405px) and (max-width: 454px){
    .header{
        justify-content: center;
    }
    .header ul li{
        font-size: 15px;
    }
    .header img{
        width: 200px;
 
    }
    .conteiner{
        padding: 35px 0px 26px 0px;
     
    }
    .conteiner .banner ul{
        padding: 0px 0px 35px 0px;
    }
    .conteiner .banner h1{
        font-size: 30px;
        line-height: 30px;
    }
    .conteiner .banner p{
        font-size: 15px;
        line-height: 16px;
    }
    .conteiner img{
        width: 250px;
        height: 250px;
        
    }
    .conteiner2{
        padding: 30px 0px 30px 0px;
    }
    .conteiner2 .coluna2 img{
        padding: 20px 0px 5px 20px;
    }
    .conteiner2 .coluna3 img{
        padding: 20px 0px 5px 20px;
    }
    .conteiner3{
        width: 85%;
        padding: 40px 0px 40px 0px;
    }
    .conteiner3 h2{
        font-size: 20px;
    }
    .conteiner4{
        padding: 43px 0px 43px 0px
    }
    .conteiner4 h2{
        justify-content: center;
        font-size: 17px;
    }
    .conteiner4 .mais-conteudo{
        padding: 19px 0px 60px 0px;
    }
    footer ol{
        font-size: 10px;
    }
    footer{
        padding: 25px 0px 25px 0px;
        justify-content: center;
    }
}

@media (min-width: 454px) and (max-width: 777px){
    .header{
        justify-content: space-between;
    }
    .header ul li{
        font-size: 15px;
    }
    .header img{
        width: 200px;
 
    }
    .conteiner{
        padding: 35px 0px 26px 0px;
     
    }
    .conteiner .banner ul{
        padding: 0px 0px 35px 0px;
    }
    .conteiner .banner h1{
        font-size: 30px;
        line-height: 30px;
    }
    .conteiner .banner p{
        font-size: 15px;
        line-height: 16px;
    }
    .conteiner img{
        width: 250px;
        height: 250px;
        
    }
    .conteiner2{
        padding: 30px 0px 30px 0px;
    }
    .conteiner2 .coluna2 img{
        padding: 20px 0px 5px 20px;
    }
    .conteiner2 .coluna3 img{
        padding: 20px 0px 5px 20px;
    }
    .conteiner3{
        width: 90%;
        padding: 40px 0px 40px 0px;
    }
    .conteiner3 h2{
        font-size: 20px;
    }
    .conteiner4{
        padding: 43px 0px 43px 0px
    }
    .conteiner4 h2{
        justify-content: center;
        font-size: 17px;
    }
    .conteiner4 .mais-conteudo{
        padding: 19px 0px 60px 0px;
    }
    footer ol{
        font-size: 10px;
    }
    footer{
        padding: 25px 0px 25px 0px;
        justify-content: space-evenly;
    }
}
@media (min-width: 777px) and (max-width: 900px){
    .header{
        justify-content: space-between;
    }
    .header ul li{
        font-size: 15px;
    }
    .header img{
        width: 200px;
 
    }
    .conteiner{
        padding: 35px 0px 26px 0px;
     
    }
    .conteiner .banner ul{
        padding: 0px 0px 35px 0px;
    }
    .conteiner .banner h1{
        font-size: 30px;
        line-height: 30px;
    }
    .conteiner .banner p{
        font-size: 15px;
        line-height: 16px;
    }
    .conteiner img{
        width: 250px;
        height: 250px;
        
    }
    .conteiner2{
        padding: 30px 0px 30px 0px;
    }
    .conteiner2 .coluna2 img{
        padding: 20px 0px 5px 20px;
    }
    .conteiner2 .coluna3 img{
        padding: 20px 0px 5px 20px;
    }
    .conteiner3{
        width: 90%;
        padding: 40px 0px 40px 0px;
    }
    .conteiner3 h2{
        font-size: 20px;
    }
    .conteiner4{
        padding: 43px 0px 43px 2px
    }
    .conteiner4 h2{
        justify-content: center;
        font-size: 17px;
    }
    .conteiner4 .mais-conteudo{
        padding: 19px 0px 60px 0px;
    }
    footer ol{
        font-size: 10px;
    }
    footer{
        padding: 25px 0px 25px 0px;
        justify-content: space-evenly;
    }
}